@import '../../../../style/scss/variables';

.Pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  gap: 10px;

  &_Container {
    display: flex;
    align-items: center;
    gap: 1px;
    border: 1px solid $grey;
    border-radius: 5px;

    &>:last-child {
      border-right: none;
    }
  }

  &_Box {
    padding: 10px;
    border-right: 1px solid $grey;
  }

  &_NumberPage {
    padding: 10px 50px;
    font-size: 20px;
    color: blue;
  }

  &_Button {
    padding: 0;
  }

  &_Icon {
    border-radius: 0;
  }
}

@media all and (max-width: 768px) {
  
  .Pagination {
    flex-direction: column;
      &_Box {
        padding: 5px;
      }
      &_NumberPage {
         padding: 5px 20px;
      }
  }
}