@import '../../../../style/scss/variables';

.Table {
  margin-bottom: 20px;
  border-bottom: 2px solid black;

  &_Container {
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
  }

  &_Header {

    &Data {
      text-align: start;
      padding: 15px;
      border-bottom: 1px solid rgb(167, 167, 167);
    }
  }

  &_Row {

    &:hover {
      background-color: $grey;
    }

    &:active {
      background-color: $greyDark;
    }
  }


  &_Data {
    cursor: pointer;

    &Container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    border-bottom: 1px solid rgb(167, 167, 167);
    padding: 15px;
  }

  &_Text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &Special {
      font-size: 18px;
    }
  }

  &_Status {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 18px;

    &-new {
      background-color: $new;
    }

    &-completed {
      background-color: $completed;
    }

    &-assigned_to {
      background-color: $assigned_to;
    }

    &-started {
      background-color: $started;
    }

    &-declined {
      background-color: $declined;
    }
  }
}

@media all and (max-width: 768px) {
  .Table {
    &_Header {
      &Data {
        font-size: 14px;
        text-align: center;
      }
    }

    &_Text {
      font-size: 14px;

      &Special {
        font-size: 16px;
      }
    }

    &_Status {
      font-size: 14px;
    }
  }
}

@media all and (max-width: 420px) {
  .Table {
    &_Header {
      &Data {
        font-size: 12px;
        text-align: center;
      }
    }

    &_Text {
      font-size: 12px;

      &Special {
        font-size: 14px;
      }
    }

    &_Status {
      font-size: 10px;
    }
  }
}