$grey: rgb(172, 172, 172);
$greyDark: rgb(143, 142, 142);
$new: rgb(76, 187, 76);
$completed: rgb(50, 85, 240);
$assigned_to: rgb(166, 179, 54);
$started: rgb(252, 170, 64);
$declined: rgb(219, 57, 36);